:root {
  --primaryColor--: #333;
  --secondaryColor--: #fff;
  --backgroundColor--: #047aed;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-weight: 600;
  line-height: 1.5em;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* container */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px auto;
}

/* btn */
.btn {
  display: inline-block;
  background: var(--backgroundColor--);
  color: white;
  padding: 0.8em 1.2em;
  border: 1px var(--secondaryColor--) solid;
  border-radius: 0.5em;

  &:hover {
    transform: scale(0.95);
  }
}

.btn-send {
  padding: 15px 30px;
  font-size: 20px;
}

/* card */

.card {
  background-color: var(--secondaryColor--);
  color: var(--primaryColor--);
  border-radius: 0.5em;
  box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.4);
  margin: 0.5em;
  padding: 0.8em;
}
